table {
    text-align: center;
}


.navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 12px 0px;
}

.info-blur {
    box-shadow: rgba(20, 22, 23, 0.82) 0px 0px 2px inset;
    background-color: rgba(19, 21, 22, 0.8) !important;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}


.asteriskField {
    color: red;
}

.form-control {
    border: 1px solid #c3c3c3 !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.form-select {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.form-select[multiple] option {
    padding: 0.5rem !important;
}

tr td {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.search-form {
    display: flex;
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover,
.clickable-row:focus {
    background-color: #381A28;
}

textarea {
  max-height: 150px;
  resize: none;
}

.form-control {
    border-color: rgb(62, 67, 70) !important;
    color: #b9a3a3;
}

select {
    border-color: rgb(62, 67, 70) !important;
    color: #b9a3a3;

}