{% extends 'base.html' %}

{% block title %}
  <title>Position detail</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">
    Position detail
  </h3>
{% endblock %}

{% block card-content %}




  <p><strong>Name:</strong> {{ position }}</p>
  <p><strong>Count employees with this position:</strong> {{ position.workers.count }}</p>
  <p>
    <strong>Employees:</strong>
    {% for employee in position.workers.all %}
      <a href="{% url 'todo:worker-detail' pk=employee.id %}">
        {{ employee }},
      </a>
    {% endfor %}
      <p>
      <a href="{% url 'todo:position-delete' pk=position.id%}" class="btn btn-outline-danger color text-danger">Delete</a>
      <a href="{% url 'todo:position-edit' pk=position.id%}" class="btn btn-outline-success">Edit</a>
        <a href="{% url 'todo:position-list'%}" class="btn btn-outline-success">Cancel</a>
      </p>
{% endblock %}
