{% extends 'base.html' %}

{% block title %}
  <title>Task detail</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">
    Task detail
  </h3>
{% endblock %}

{% block card-content %}
  <p><strong>Aim:</strong> {{ task }} {{ task.get_priority_display }}</p>
  <p><strong>Deadline:</strong> {{ task.deadline }}</p>
  <p><strong>Task Type:</strong> {{ task.task_type }}</p>
  <p><strong>Status:</strong> {{ task.get_completing_step_display }}</p>
  <p><strong>Description:</strong> {{ task.description }}</p>
  <p><strong>Members:</strong>
    {% for member in  task.assignees.all %}
      <span>
                  <a href="{% url 'todo:worker-detail' pk=member.id %}">
                    {% if member.id == user.id %}
                      Me
                    {% else %}
                      {{ member }} ({{ member.username }})
                    {% endif %}
                  </a>,
                  </span>
    {% empty %}
      No members
    {% endfor %}
  </p>


  <p>
    {% if user in task.assignees.all %}
      {% csrf_token %}
      <a href="{% url 'toggle-join-task' pk=task.id %}"
         class="btn btn-outline-primary border-danger color text-danger">
        Leave
      </a>
    {% else %}
      <a href="{% url 'toggle-join-task' pk=task.id %}"
         class="btn btn-outline-primary border-success color text-success">
        Join
      </a>
    {% endif %}
    <a href="{% url 'todo:task-delete' pk=task.id %}"
       class="btn btn-outline-danger color text-danger">Delete</a>
    <a href="{% url 'todo:task-edit' pk=task.id %}" class="btn btn-outline-success">Edit</a>
    <a href="{% url 'todo:task-list' %}" class="btn btn-outline-success">Back</a>
  <p>
{% endblock %}



