{% extends 'base.html' %}

{% block title %}
  <title>Delete Position</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">Delete Position</h3>
{% endblock %}

{% block card-content %}
  <p><strong>Are you sure?</strong></p>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    <input type="submit" value="Submit" class="btn btn-primary">
    <a href="{% url 'todo:task-detail' pk=task.id %}" class="btn btn-outline-success">Back</a>

  </form>
{% endblock %}