{% extends 'base.html' %}

{% block title %}
  <title>Task list</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">
    Task list
  </h3>
{% endblock %}

{% block card-content %}
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Task Type name</th>
      <th scope="col">Count such tasks</th>

    </tr>
    </thead>
    <tbody>
    {% for task_type in task_type_list %}
      <tr onclick="window.location='{% url 'todo:task-type-detail' pk=task_type.id %}'"
          class="clickable-row">
        <td>{{ task_type.name }}</td>
        <td>{{ task_type.tasks.count }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
