{% extends 'base.html' %}

{% block title %}
  <title>{{ object|yesno:"Update,Add" }} Task Type</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">{{ object|yesno:"Update,Add" }} Task Type</h3>
{% endblock %}

{% block card-content %}
  <div class="card-body">
    {% load crispy_forms_filters %}
    <form action="" method="post" novalidate>
      {% csrf_token %}
      <div class="input-group input-group-static mb-4">
      </div>
      {{ form|crispy }}
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </div>
{% endblock %}