{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}
  <title>Task list</title>
{% endblock %}

{% block card-title %}
  <h3 class="text-white text-primary mb-0">
    Task list
  </h3>
{% endblock %}

{% block card-content %}
  <div style="display: inline-block">
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
  </form>
  <input type="submit" value="🔍" class="btn btn-outline-success color success">
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Task name</th>
      <th scope="col">Priority</th>
      <th scope="col">Deadline</th>
      <th scope="col">Task Type</th>
      <th scope="col">Step</th>
      <th scope="col">Action</th>

    </tr>
    </thead>
    <tbody>
    {% for task in task_list %}
      <tr onclick="window.location='{% url 'todo:task-detail' pk=task.id %}'" class="clickable-row">
        <td>{{ task.name }}</td>
        <td>{{ task.get_priority_display }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.task_type }}</td>
        <td>{{ task.get_completing_step_display }}</td>
        <td>
          {% if user not in task.assignees.all %}
            {% csrf_token %}
            <a href="{% url 'toggle-join-task' pk=task.id %}"
               class="btn btn-outline-primary border-success color text-success">
              Join
            </a>
          {% else %}
            <a href="{% url 'toggle-join-task' pk=task.id %}"
               class="btn btn-outline-primary border-danger color text-danger">
              Leave
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}