<!DOCTYPE html>
<html lang="en" data-darkreader-mode="dynamic" data-darkreader-scheme="dark">

<head>
  {% include 'includes/header.html' %}
  {% block title %}{% endblock %}
  <style>
    thead,
    tr {
        border-color: green;
    }
    a {
        color: rgb(161, 186, 211) !important;
    }
    a:hover {
        color: red !important;
    }
    .card-body {
        color: rgb(237, 235, 232) !important;
    }
    table {
        color: yellow; !important
    }


  </style>
</head>


<body class="presentation-page bg-gray-200">
{% include 'includes/navigation.html' %}

<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{{ ASSETS_ROOT }}/img/bg2.jpg')">
    <span class="mask bg-gradient-primary opacity-4"></span>

    <div class="container">
      <div class="col-xl-10  d-flex flex-column ms-auto me-auto">
        <div class="card d-flex blur justify-content-center shadow-lg my-sm-0 my-sm-8 mt-8 mb-5 info-blur">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
            <div class="bg-gradient-primary shadow-primary border-radius-lg p-3">
              {% block card-title %}{% endblock %}
            </div>
          </div>

          <div class="card-body">
            <div style="height: 530px; overflow: auto;">
              {% block card-content %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% include 'includes/footer.html' %}
{% include 'includes/core_js_scripts.html' %}

</body>
</html>
